.label {
    -fx-text-fill: rgb(22, 22, 22);
}

.contenedor {
    -fx-padding: 10px;
    -fx-border-color: rgb(142, 142, 142);   /* Color del borde */
    -fx-border-width: 3px;        /* Grosor del borde */
    -fx-border-radius: 10px;      /* Bordes redondeados (ajusta el valor para más o menos redondeo) */
    -fx-background-radius: 10px;  /* Asegura que el fondo también sea redondeado */
}