@font-face {
    font-family: "Montserrat";
    src: url("resource:///com.github.designsnma/gtk/PI/Montserrat.ttf") format("truetype");
}

* {
    transition: all 0.2s ease; /* Adjust the duration and timing function as needed */
    font-family: "Montserrat", sans-serif; /* Fallback to a default font */
}

button{
    font-size: 16px;
    font-weight: 500;
    border-width: 0px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.157);
}

label {
    color: rgb(16,16,16);
    font-weight: 400;
    font-size: 12px;
    padding: 3px;
}

button:hover {
    box-shadow: 0px 0px 10px rgba(255, 183, 0, 0.231);
    transform: scale(1.015);
    border-color: rgba(255, 184, 3, 0.146);
    border-width: 1px;
}

entry:hover {
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.369);
    transform: scale(1.015);
    border-color: rgba(255, 3, 3, 0.146);
    border-width: 1px;
}

